.container {
  min-width: 480px;
  padding: 10px;
}
/* 달 */
.month {
  display: flex;
  flex-direction: column;
}
/* 주 */
.week {
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px rgba(200, 200, 200, 0.5) solid;
}
/* 메뉴 */
.calendar-menu {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}
.calendar-menu button {
  font-weight: bold;
  margin-right: 7px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.5);
}
.calendar-menu button:focus {
  outline: none;
}
.calendar-menu .today-btn {
  width: 60px;
  font-weight: bold;
}
.calendar-menu span {
  font-size: 20px;
}
/* 일주일 표시 */
.day-week-container {
  display: flex;
  padding-top: 10px;
  border-top: 1px rgba(200, 200, 200, 0.5) solid;
  border-bottom: 1px rgba(200, 200, 200, 0.5) solid;
}
.day-week {
  width: 100%;
  text-align: center;
  height: 30px;
}

/* 날 */
.day {
  padding: 5px;
  width: 100%;
  height: 100px;
}
.day-today-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.day-not-this-month {
  color: rgba(0, 0, 0, 0.5);
}
.sunday {
  color: red;
}
.sunday-not-this-month {
  color: rgba(255, 0, 0, 0.3) !important;
}

/* 오늘 */
.today-text {
  text-align: center;
  padding: 3px;
  padding-left: 6px;

  padding-right: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/* 날 선택자 */
.day-selector {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 100%;
  border: 1px solid #515ce6;
  background-color: rgba(78, 78, 216, 0.1);
}
